@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  background-color: #F5F5F5;
  box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.page {
  display: flex;
  gap: 20px;
}

.about {
  background-color: rgba(18, 157, 104, 0.8);
  padding-top: 30px;
  color: antiquewhite;
}

.about__photo {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0px auto;
  border: 3px solid rgba(18, 157, 104, 1);;
}

.about__title {
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 15px;
  text-align: right;
  padding-right: 20px;
}

.about__text {
  padding: 0px 20px 20px 20px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: justify;
}



.info {
  background-color: rgba(196, 196, 196, 0.2);
  padding: 1px 20px;
  margin-bottom: 15px;
  line-height: 1;
}

.info__title {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: right;
  background-color: rgba(18, 157, 104, 0.5);
  padding: 3px;
}

.text {
  line-height: 2;
  text-align: justify;
}

.name {
  text-align: center;
  line-height: 1;
}

.role {
  padding-bottom: 15px;
  text-align: center;
}

.contacs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 10px;
  gap: 5px;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.icons {
  padding-right: 5px;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.contacs__link:first-child {
  width: 200px;
}

.contacs__link {
  width: 45%;
  text-decoration: none;
  color:black;
}


.contac {
  background-color: rgba(196, 196, 196, 0.2);
  padding: 10px;
}

.job p {
  line-height: 1;
}

.study__title {
  line-height: 1.2;
}

.study__description {
  line-height: 1.5;
}


@media (max-width: 640px) {

  .container {
    width: 100%;
  }

  .page {
    display: block;
  }

}